# NetBeans specific #
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml
/Practica8UT2/Practica8UT2/build/
/Practica8UT2/Practica8UT2/nbproject/private/
/UT3/PruebaEventos/nbproject/private/
/UT3/PruebaEventos/build/
/UT3/Practica1UT3/nbproject/private/
/UT3/Practica1UT3/build/
/UT2/Practica7UT2/build/
/UT2/Practica9UT2/build/
/UT3/EjemploValidacion/nbproject/private/
/UT3/EjemploValidacion/build/
/UT3/Practica2UT3/nbproject/private/
/UT3/Practica2UT3/build/
/UT3/ImagenesEjemplo/nbproject/private/
/UT3/ImagenesEjemplo/build/
/UT3/Practica3UT3/nbproject/private/
/UT3/Practica3UT3/build/
/UT3/Bundle_pt.properties/nbproject/private/
/UT3/Bundle_pt.properties/build/
/UT3/Bundle_pt.properties/dist/
/UT3/Practica4UT3/nbproject/private/
/UT3/JPanelImagen/nbproject/private/
/UT3/ProyectoPrueba/nbproject/private/
/UT3/JPanelImagen/build/
/UT3/JPanelImagen/dist/
/UT3/JPanelLogo/nbproject/private/
/UT3/JPanelLogo/dist/
/UT3/JPanelLogo/build/
/UT3/Practica4UT3/build/
/UT3/Practica5UT3/nbproject/private/
/UT3/Practica5UT3/build/
/UT3/MusicaPrueba/nbproject/private/
/UT3/Practica6UT3/nbproject/private/
/UT3/Practica6UT3/build/
/UT3/Practica5UT3/dist/
/UT3/Practica6UT3/dist/