# NetBeans specific #
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml
/UT3/LookAndFeelEJemplo/build/
/UT4/Practica1UT4/nbproject/private/
/UT4/Practica1UT4/build/
/UT4/Practica1UT4/dist/
/UT3/Actividad4_1/nbproject/private/
/UT4/Actividad4_1/build/