# NetBeans specific #
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/nbactions.xml
*/nb-configuration.xml
/Practica8UT2/Practica8UT2/build/
/Practica8UT2/Practica8UT2/nbproject/private/
/UT3/PruebaEventos/nbproject/private/
/UT3/PruebaEventos/build/